<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><!-- Leave this empty, this is not applicable for the Client --></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li title="Messages">
        {{#link-to 'index'}}
          <i alt="No unread messages" class="fi-mail"></i>
        {{/link-to}}
      </li>

      <li title="Personal Information Access Status">
          {{#link-to 'index'}}
            <i alt="Personal Information is unavailable" class="fi-folder-lock"></i>
          {{/link-to}}
      </li>

      <li title="Cart">
        {{#link-to 'index'}}
          <i alt="Cart is empty" class="fi-shopping-cart"></i> 0
        {{/link-to}}
      </li>

      <li class="has-dropdown">
        {{#link-to 'index'}}
          <i alt="User is" class="fi-torso"></i> John Q. User
        {{/link-to}}
        <ul class="dropdown">
          <li>
            {{#link-to 'index'}}
              <i class="fi-wrench"></i> Settings
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'index'}}
              <i class="fi-x-circle"></i> Sign Out
            {{/link-to}}
          </li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">

      <li title="Connection Status">
          {{#link-to 'index'}}
            <i alt="Connection status is Connected" class="fi-check"></i>
          {{/link-to}}
      </li>

      <li class="has-dropdown">
        {{#link-to 'index'}}
          Explore
        {{/link-to}}
      </li>

      <li class="has-form">

        <div class="row collapse">
          <div class="large-9 small-10 columns">
            <input type="text" placeholder="Search">
          </div>
          <div class="large-3 small-2 columns">
            {{#link-to 'index' classNames='button expand [radius round]'}}
              <i title="Search" alt="Perform Search" class="fi-magnifying-glass"></i>
            {{/link-to}}
          </div>
        </div>

      </li>

    </ul>
  </section>
</nav>