<!-- Header and Nav -->
{{partial "shared/topbar"}}

<!-- End Header and Nav -->
  
  
  <main>

    <div class="large-12 columns">
      {{outlet}}
    </div>

  </main>
    
  
  <!-- Footer -->
  
  <footer>
    <div class="large-12 large-centered text-center columns">
      <div class="row">
        <hr/>
        <small>Powered by <a href="http://portobello-road.org/">Portobello Road</a></small>
      </div>
    </div> 
  </footer>

<script>
  $(document).foundation();
</script>